{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block title %}Inquire{% endblock %}

{% block content %}
<div class="container">
  <h1><center>Question Answering System</center></h1>
  <hr>

<center>

  <h2>Question</h2>
  <div class="well">
  {{ question }}
</div>
  <h2 style="color:blue;">Answer</h2>
  </center>

  <div class="well well-sm">
    {% for i in range(0,l) %}
  <p >
  {% if answer[i] | length > 1%}
    {{answer[i]}}
  {%endif%}
</p>
{%endfor%}
</div>

<center>
  <br>

  <a href = "/" class = "btn btn-info" role="button">Have another question</a>
</center>
</div>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}
